<template name="application">
  <body>
    <div class='create'>
      <button class='blue'>
        <span class='blue'>new</span>
      </button>
    </div>
    <div class='del'>
      <button class='red' id="trash">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="leftCornerGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="rightCornerGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="bottomMiddleGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="topMiddleGroup">
      </button>
    </div>
    <div class='veil'>
      <button class='x'>
      </button>
      <button class='removeall'>
      </button>
    </div>

    {{>history}}

    <nav id="pep-context-menu" class="context-menu">
      <ul class="context-menu__items">
        <li class="context-menu__item">
          <a href="#" class="context-menu__link" data-action="Split">Split</a>
        </li>
        <li class="context-menu__item">
          <a href="#" class="context-menu__link" data-action="Merge">Merge</a>
        </li>
        <li class="context-menu__item">
          <a href="#" class="context-menu__link" data-action="History">History</a>
        </li>
        <li class="context-menu__item">
          <a href="#" class="context-menu__description">Click card to merge with.</a>
        </li>
        <li class="context-menu__item">
          <a href="#" class="context-menu__cancel" data-action="Cancel">Cancel</a>
        </li>
      </ul>
    </nav>

    <nav id="trash-context-menu" class="context-menu">
      <ul class="context-menu__items">
        <li class="context-menu__item">
          <a href="#" class="context-menu__empty" data-action="Empty">Empty Trash</a>
        </li>
      </ul>
    </nav>

  </body>
</template>

<template name="history">
  <button class='x cy'></button>
  <div id="cy" class="cy"></div>
</template>
