<template name="application">
  <body>
    <div class='create'>
      <button class='blue'>
        <span class='blue'>new</span>
      </button>
    </div>
    <div class='del'>
      <button class='red' id="trash">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="leftCornerGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="rightCornerGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="bottomMiddleGroup">
      </button>
    </div>
    <div class='group'>
      <button class='group' id="topMiddleGroup">
      </button>
    </div>
    <div class='veil'>
      <button class='x'>
      </button>
      <button class='removeall'>
      </button>
    </div>

    <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Split"><i class="fa fa-eye"></i>Split</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="Merge"><i class="fa fa-edit"></i>Merge</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="History"><i class="fa fa-times"></i>History</a>
      </li>
    </ul>
  </nav>

  </body>
</template>
