.context-menu {
  display: none;
  position: absolute;
  z-index: 1000000;
  padding: $sf*12px 0;
  width: $sf*240px;
  background-color: $pep-color;
  border: none;
  box-shadow: 0px $sf*2px $sf*5px $sf*2px rgba(150, 150, 150, 0.8);
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $pep-color;
}

.context-menu__description {
  display: block;
  padding: $sf*4px $sf*12px;
  color: #000000;
  background-color: $pep-color;
  text-decoration: none;
}

.context-menu__cancel {
  display: block;
  padding: $sf*4px $sf*12px;
  text-align: right;
  color: $button-red;
  background-color: $pep-color;
  text-decoration: none;
}

.context-menu__cancel:hover {
  color: $pep-color;
  background-color: $button-red;
}

.context-menu__item {
  display: block;
  font-size: $sf*1.5em;
  margin-bottom: $sf*4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: $sf*4px $sf*12px;
  text-decoration: none;
  color: $button-blue;
  background-color: $pep-color;
}

.context-menu__link:hover {
  color: $pep-color;
  background-color: $button-blue;
}
