.context-menu {
  display: none;
  position: absolute;
  z-index: 1000000;
  padding: 12px 0;
  width: 240px;
  background-color: $pep-color;
  border: none;
  box-shadow: 0px 2px 5px 2px rgba(150, 150, 150, 0.8);
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $pep-color;
}

.context-menu__item {
  display: block;
  font-size: 1.5em;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  text-decoration: none;
  color: $button-blue;
  background-color: $pep-color;
}

.context-menu__link:hover {
  color: $pep-color;
  background-color: $button-blue;
}
