.pep{
  position: absolute;
  top: $sf *25px;
  left: $sf *25px;
  background: $card-background-color;
  height: $sf *300px;
  width: $sf *500px;
  box-shadow: 0px $sf *2px $sf *5px $sf *2px rgba(150, 150, 150, 0.8);
  opacity: .9;
  overflow:hidden;
  &:hover{
    cursor: pointer;
    display:block;
  }
}

.leftTriangle {
  position:absolute;
  border:none;
  outline:none;
  bottom: $sf *12px;
  right: $sf *12px;
  background:$dark-card-color;
  pointer-events:none;
  width: $sf *50px;
  height: $sf *50px;
  border-radius: 50%;
  overflow:hidden;
  background-color: $dark-card-color;
}
.rightTriangle {
  position:absolute;
  border:none;
  outline:none;
  bottom: $sf *12px;
  left: $sf *12px;
  pointer-events:none;
  width: $sf *50px;
  height: $sf *50px;
  border-radius: 50%;
  overflow:hidden;
  visibility: hidden;
  background-color: $card-background-color;
}
.titleText{
    position: relative;
    box-sizing: border-box;
    padding: $sf *25px $sf *30px 0px $sf *30px;
    font-size: $sf *3.5em;
    font-weight: $sf *100;
    width: 100%;
    height: calc(100% / 3);
    background-color: $pep-color;
    pointer-events:none;
  }

.bodyText{
  position: relative;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  padding: $sf *20px $sf *30px $sf *20px $sf *30px;
  font-size: $sf *2.5em;
  font-weight: $sf *100;
  font-style: normal;
  background:none;
  width: 100%;
  height: calc(200% / 3);
  pointer-events:none;

}

.bodyText2{
  position: relative;
    box-sizing: border-box;
    top: calc(-200% / 3);
    left: 100%;
    padding: $sf *20px $sf *30px $sf *20px $sf *30px;
    font-size: $sf *2.5em;
    font-weight: $sf *100;
    font-style: normal;
    background-color: $dark-card-color;
    width: 100%;
    height: calc(200% / 3);
    pointer-events:none;
  }

  .cost {
    position:absolute;
    box-sizing: border-box;
    padding: $sf *5px $sf *10px 0px $sf *10px;
    font-size: $sf *2em;
    font-weight: $sf *100;
    width: $sf *50px;
    height: $sf *40px;
    color: none;
    top: $sf *10px;
    right: $sf *12px;
    text-align: right;
    overflow:hidden;
    background: $pep-color;
  }
  .priority{
    position:absolute;
    box-sizing: border-box;
    padding: $sf *5px $sf *10px 0px $sf *10px;
    font-size: $sf *2em;
    font-weight: $sf *100;
    width: $sf *50px;
    height: $sf *40px;
    color: none;
    top: $sf *55px;
    right: $sf *12px;
    text-align: right;
    overflow:hidden;
    background: $pep-color;
  }
