.cursorCircle{
  background: none;
  border-style: solid;
  border-width: $sf *30px $sf *30px 0 0;
  border-color: #FFEC64 transparent transparent transparent;
  height: 0; width: 0;
  position: absolute;
  top: $sf *-100px;
  left: $sf *-100px;
  z-index:1000000;
  pointer-events:none;
}

@keyframes wiggle {
  0% {
    top: $sf*50px;
   }
  25% {
    top: $sf*45px;
   }
  75% {
    top: $sf*55px;
  }
  100% {
    top: $sf*50px;
   }
}

.create {
  button{
    animation: wiggle .3s 3;
    animation-timing-function: linear;
    background: transparent;
    transform-origin: top left;
    box-shadow: 0px $sf *2px $sf *5px $sf *2px rgba(150, 150, 150, 0.8);
    transition: all .1s;
    transform: scale($sf);
    height: 150px;
    width: 250px;
    outline: none;
    position: fixed;
    z-index:100000;
    top: $sf *50px;
    left: $sf *45px;
  &.blue{
    border: $sf *2px solid $button-blue;
  }
  &:hover{
    animation-iteration-count: 2;
    cursor: pointer;
    border: 2px solid $button-pressed-color;}
  &:active{
    box-shadow: 0px 1px 4px 0px rgba(119, 119, 119, 0.8);
    margin-top: 1px;
    color: $button-pressed-color;
  }
  span{
    font-family: "Roboto", sans-serif;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 4.2em;
    font-style: italic;
    color: $button-pressed-color;
    background: none;
    display: block;
    line-height: 82%;
    &.blue{
      color: $button-blue;
    }
  }
}
}

.del {
  button{
    background: url(/images/trashcan.png) no-repeat;
    height: 168px;
    width: 160px;
    transform-origin: bottom right;
    transform: scale($sf);
    outline: none;
    position: fixed;
    z-index:1000000;
    bottom: $sf *50px;
    right: $sf *45px;
    border: none;
    transition: all .1s;
    &.filled{
      background: url(/images/trashcanfilled.png) no-repeat;
    }
    &.bloat{
      transform: scale($sf*1.1);
    }
    &:hover{
      cursor: pointer;
      transform: scale($sf*1.1);
    }
    &:active{
      margin-bottom: $sf *-1px;
    }
  }
}

.group {
  button{
    background: url(/images/group.png) no-repeat;
    height: 157px;
    width:258px;
    transform: scale($sf);
    outline: none;
    position: fixed;
    z-index:1000000;
    border: none;
    transition: all .1s;
    &.filled{
      background: url(/images/groupfilled.png) no-repeat;
    }
    &.bloat{
      transform: scale($sf*1.1);
    }
    &:hover{
      cursor: pointer;
      transform: scale($sf*1.1);
    }
    &:active{
      margin-bottom: $sf *-1px;
    }
  }
}

#leftCornerGroup{
  bottom: $sf *50px;
  left: $sf *45px;
  transform-origin: bottom left;
}
#rightCornerGroup{
  top: $sf *50px;
  right: $sf *45px;
  transform-origin: top right;
}
#topMiddleGroup{
  margin: 0 auto;
  left:0;
  right:0;
  top:$sf *50px;
  transform-origin: top;
}
#bottomMiddleGroup{
  margin: 0 auto;
  left:0;
  right:0;
  bottom:$sf *50px;
  transform-origin: bottom;
}
.veil {
  position: absolute;
  top: $sf *25px;
  left: $sf *25px;
  bottom: $sf *25px;
  right: $sf *25px;
  z-index: 10000000;
  //pointer-events:none;
  background: #000000;
  box-shadow: 0px $sf *10px $sf *10px $sf *5px rgba(50, 50, 50, 0.8);
  opacity: .7;
  overflow: hidden;
  visibility: hidden;
  button{
    outline: none;
    border:none;
    position: absolute;
    z-index:100000000;
    transition: all .1s;
    &.x{
      background: url(/images/x.png) no-repeat;
      transform: scale($sf);
      transform-origin: top right;
      top:$sf *20px;
      right: $sf *20px;
      height: 60px;
      width: 60px;
    }
    &:active{
      margin-top: $sf *1px;
    }
    &.removeall{
      background: url(/images/removeAllText.png) no-repeat;
      transform: scale($sf);
      transform-origin: bottom;
      margin: 0 auto;
      left:0;
      right:0;
      bottom:$sf *30px;
      height: 32px;
      width: 192px;
    }
    &:hover{
      cursor: pointer;
      transform: scale($sf*1.1);
    }
    &:active{
      margin-bottom: $sf *-1px;
    }
  }
}
