$background-color: #efeff4;
$pep-color: #ffffff;
$button-blue: #00ccd6;
$button-red: #f1453d;
$highlight-color: #a7f5f8;
$button-pressed-color: #404040;
$card-background-color: #efeff4;
$dark-card-color: #dddddd;
$selected-color: $button-blue;

$font-size: 100%;
$font-color: #404040;
$font-family: 'Roboto', sans-serif;
$light: 100;
