@import 'include-media';

@include media("<=phone") {
  $sf: .25;
  @import 'variables';
  @import 'base';
  @import 'pep';
  @import 'ui';
  @import 'contextmenu';
  @import 'history';
}

@include media("<desktop") {
  $sf: .5;
  @import 'variables';
  @import 'base';
  @import 'pep';
  @import 'ui';
  @import 'contextmenu';
  @import 'history';
}

@include media(">=desktop") {
  $sf: .75;
  @import 'variables';
  @import 'base';
  @import 'pep';
  @import 'ui';
  @import 'contextmenu';
  @import 'history';
}
