$background-color: #efeff4;
$pep-color: #ffffff;
$button-blue: #00ccd6;
$button-red: #f1453d;
$highlight-color: #a7f5f8;
$button-pressed-color: #404040;
$card-background-color: #efeff4;
$dark-card-color: #dddddd;
$selected-color: $button-blue;

$font-size: 100%;
$font-color: #404040;
$font-family: "Helvetica Neue", Helvetica, 'Arial Narrow', Arial, "Lucida Grande", sans-serif;
$light: 100;

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $font-family; font-weight: $light; }

* {
  background-color: $background-color;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $light;
  color: $font-color;
}
body {
  width: 100%;
  height: 100%;
}
::selection {
  background: $highlight-color;
}

.cursorCircle{
  background: none;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #FFEC64 transparent transparent transparent;
  height: 0; width: 0;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index:1000000;
  pointer-events:none;
}

.create {
  button{
  background: transparent;
  box-shadow: 0px 2px 5px 2px rgba(150, 150, 150, 0.8);
  height: 250px;
  width: 150px;
  outline: none;
  position: absolute;
  position: fixed;
  z-index:100000;
  top: 50px;
  left: 45px;
  &.blue{
  border: 2px solid $button-blue;
  }
  &:hover{
    cursor: pointer;
    border: 2px solid $button-pressed-color;}
  &:active{
    box-shadow: 0px 1px 4px 0px rgba(119, 119, 119, 0.8);
    margin-top: 1px;
    color: $button-pressed-color;
  }
  span{
    font-family: "Helvetica Neue", Helvetica, 'Arial Narrow', Arial, "Lucida Grande", sans-serif;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 4.2em;
    font-style: italic;
    color: $button-pressed-color;
    background: none;
    display: block;
    line-height: 82%;
    &.blue{
      color: $button-blue;
    }
  }
}
}

.del {
  button{
  background: transparent;
  box-shadow: 0px 2px 5px 2px rgba(150, 150, 150, 0.8);
  height: 250px;
  width: 150px;
  outline: none;
  position: fixed;
  z-index:100000;
  bottom: 50px;
  right: 45px;
  &.red{
  border: 2px solid $button-red;
  }
  &:hover{
    cursor: pointer;
    border: 2px solid $button-pressed-color;}
  &:active{
    box-shadow: 0px 1px 4px 0px rgba(119, 119, 119, 0.8);
    margin-top: 1px;
    //color: $button-pressed-color;
  }
  span{
    font-family: "Helvetica Neue", Helvetica, 'Arial Narrow', Arial, "Lucida Grande", sans-serif;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 4.2em;
    font-style: italic;
    background:none;
    color: $button-pressed-color;
    display: block;
    line-height: 82%;
    &.red{
      color: $button-red;
    }
  }
}
}

.pep{
    position: absolute;
    top: -25px;
    left: 25px;
    background: $card-background-color;
    height: 300px; width: 500px;
    box-shadow: 0px 2px 5px 2px rgba(150, 150, 150, 0.8);
    opacity: .9;
    overflow:hidden;
    &:hover{
      cursor: pointer;
      display:block;
    }
  }

.leftTriangle {
  position:absolute;
  border:none;
  outline:none;
  bottom: 12px;
  right: 12px;
  background:$dark-card-color;
  pointer-events:none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow:hidden;

  background-color: $dark-card-color;
}
.rightTriangle {
  position:absolute;
  border:none;
  outline:none;
  color: none;
  bottom: 12px;
  left: 12px;
  pointer-events:none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow:hidden;

  background-color: $card-background-color;
}
.titleText{
    position: relative;
    box-sizing: border-box;
    padding: 25px 30px 0px 30px;
    font-size: 3.5em;
    font-weight: 100;
    width: 100%;
    height: calc(100% / 3);
    background-color: $pep-color;
    pointer-events:none;
  }

.bodyText{
  position: relative;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  padding: 20px 30px 20px 30px;
  font-size: 2.5em;
  font-weight: 100;
  font-style: normal;
  background:none;
  width: 100%;
  height: calc(200% / 3);
  pointer-events:none;

}

.bodyText2{
  position: relative;
  box-sizing: border-box;
  top: calc(-200% / 3);
  left: 100%;
  padding: 20px 30px 20px 30px;
  font-size: 2.5em;
  font-weight: 100;
  font-style: normal;
  background-color: $dark-card-color;
  width: 100%;
  height: calc(200% / 3);
  pointer-events:none;
}

.cost {
  position:absolute;
  box-sizing: border-box;
  padding: 13px 0px 0px 10px;
  font-size: 3.5em;
  font-weight: 100;
  width: 50px;
  height: 80px;
  color: none;
  top:10px;
  right: 74px;
  overflow:hidden;
  background: $card-background-color;
}
.priority{
  position:absolute;
  box-sizing: border-box;
  padding: 13px 0px 0px 10px;
  font-size: 3.5em;
  font-weight: 100;
  width: 50px;
  height: 80px;
  color: none;
  top:10px;
  right: 12px;
  overflow:hidden;
  background: $card-background-color;
}

textarea {
  //color : transparent;
  //text-shadow : 0 0 0 #000;
  display:block;
  border: 0;
  outline: 0;
  overflow: auto;
  resize: none;
  &:focus{
    border: solid 2px $button-blue;
    //background-color:$highlight-color;
  }
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: $button-blue;
}
