//responsive style sheet
@import 'include-media';

@include media("<=phone") { //tiny screen
  $sf: .35;
  @import 'everything';
}
@include media(">phone","<desktop") { //medium screen
  $sf: .5;
  @import 'everything';
}
@include media(">=desktop", "<1440px") { //huge screen
  $sf: .75;
  @import 'everything';
}
@include media(">=1440px") { //huge screen
  $sf: 1;
  @import 'everything';
}
